<header class="header">
    <ul class="header_nav">
      <li class="header_nav-link">
        {% url 'service:index' as the_url %}
        {% if request.get_full_path == the_url or type_url ==  "service" %}
          <span class="menu-active">Услуги</span>
        {% else %}
          <a class="" href="{% url 'service:service_all' %}">Услуги</a>
        {% endif %}
      </li>
  
    <li class="header_nav-link">
        {% url 'bank:outside' as the_url %}
        {% if request.get_full_path == the_url %}
          <span class="menu-active">Внешние счета</span>
        {% else %}
          <a class="" href="{% url 'bank:outside' %}">Внешние счета</a>
        {% endif %}
      </li> 

       <li class="header_nav-link">
        {% url 'bank:inside' as the_url %}
        {% if request.get_full_path == the_url or type_url ==  "inside" %}
          <span class="menu-active">Внутренние счета</span>
        {% else %}
          <a class="" href="{% url 'bank:inside' %}">Внутренние счета</a>
        {% endif %}
      </li> 

      <li class="header_nav-link">
        {% url 'bank:storage' as the_url %}
        {% if request.get_full_path == the_url %}
          <span class="menu-active">Хранилище</span>
        {% else %}
          <a class="" href="{% url 'bank:storage' %}">Хранилище</a>
        {% endif %}
      </li>  

      <li class="header_nav-link">
        {% url 'client:clients' as the_url %}
        {% if request.get_full_path == the_url %}
          <span class="menu-active">Клиенты</span>
        {% else %}
          <a class="" href="{% url 'client:clients' %}">Клиенты</a>
        {% endif %}
      </li>
    </ul>

    {% comment %} <ul class="header_nav_tech">
      <li class="header_nav-link">
        {% url 'core:tech' as the_url %}
        {% if request.get_full_path == the_url %}
          <span class="menu-active">Тех.раздел</span>
        {% else %}
          <a class="" href="{% url 'core:tech' %}">Тех.раздел</a>
        {% endif %}
      </li>
    </ul> {% endcomment %}
  </nav>
  </header>
  