django==5.2
djangorestframework==3.16.0
django-debug-toolbar
django-environ

gunicorn==23.0.0
psycopg2==2.9.10

Pytils==0.4.1
requests==2.32.3
djlint

celery
redis
pymysql
mysqlclient==2.2.7
pymorphy3==2.0.3
django-sql-utils==0.7.0
