# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
motrumvenv/

# Python

__pycache__/
*.pyc
*.env
*.env1
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# Celery
celerybeat-schedule*
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# IDE
.idea/
.vscode/
.cursor/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache/
.pytest_cache/
.coverage
htmlcov/
.coolsite_cache/

# Temporary files
tmp/
temp/
*.tmp
*.temp

# Documentation
documentation/

# Large media files
/apps/core/static/core/images/about_company.mp4

# Other
checking_convertation.txt
