<ul class="header_nav">
      <li class="header_nav-link">
            {% url 'bank:storage' as the_url %}
          {% if request.path == the_url %}
                <span class="menu-active menu-active_service">Все</span>
          {% else %}
                <a class="menu_service" href="{% url 'bank:storage' %}">Все</a>
          {% endif %}
    </li> 
    <li class="header_nav-link">
          {% url 'bank:storage_banking' as the_url %}
          {% if request.path == the_url %}
                <span class="menu-active menu-active_service">Накопительные счета + наличные + премии</span>
          {% else %}
                <a class="menu_service" href="{% url 'bank:storage_banking' %}">Накопительные счета + наличные + премии</a>
          {% endif %}
    </li>
 
    <li class="header_nav-link">
          {% url 'bank:storage_servise' as the_url %}
          {% url 'bank:storage_servise_client' as the_url_client %}
          {% if request.path == the_url or request.path == the_url_client %}
                <span class="menu-active menu-active_service">Остатки рекламных бюджетов</span>
          {% else %}
                <a class="menu_service" href="{% url 'bank:storage_servise' %}">Остатки рекламных бюджетов</a>
          {% endif %}
    </li>
</ul>