{% extends "core/base.html" %}
{% load static %}
{% load format_filters %}
{% load dict_extras %}
{% block content %}
    <link rel="stylesheet" href="{% static 'bank/css/inside_one_salary.css' %}">
    <link rel="stylesheet"
          href="{% static 'bank/css/inside_one_oper_accaunt.css' %}">
    <link rel="stylesheet" href="{% static 'bank/css/outside_bank.css' %}">
    <script src="{% static 'bank/js/oper_account_cell_width.js' %}"></script>
    <input type="hidden" id="page_name" value="{{ title }}" />
    {% include "bank/inside/includes/header_inside.html" %}
    <div class="salary-container">
        <div class="salary-sorting" data-sort-salary="1" salary-sorting-date="1">
            <h3>Период</h3>
            <div class = "btn_sorting_salary" data-sort-salary="1">Активные</div>
            <div class = "btn_sorting_salary" data-sort-salary="2">Архив</div>
        </div>
    </div>
    <div class="inside_wr">
        <!-- текущий год -->
        <div class="section_oper_wr outside_wr employee_data_wr">
            <!--премии к распределению -->
            <div class=" background-salary-total">
                <div class="">
                    <div class="oper-account-grid">
                        <div class="oper-account-row oper-account-total">
                            <div class="oper-account-cell oper-account-num"></div>
                            <div class="oper-account-cell outside_name_title">ДЛЯ ПРЕМИЙ</div>
                            {% for month  in months_current_year %}
                                <div class="oper-account-cell oper-account-month">{{ month }} {{ year_now }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% for category in arr_total_bonus.category %}
                    <div class="">
                        <div class="oper-account-grid">
                            <div class="oper-account-row">
                                <div class="oper-account-cell oper-account-num">{{ forloop.counter|stringformat:"02d" }}.</div>
                                <div class="oper-account-cell outside_name_title">{{ category.name }}</div>
                                {% for month, month_data  in category.total.items %}
                                    <div class="oper-account-cell oper-account-month cell_bonus"
                                        data-sub-categ-name="{{ category.category_id }}"
                                        data-year="{{ year_now }}"
                                        data-month="{{ month }}"
                                        data-sub-categ-id="{{ category.category_id }}"
                                        data-persent-use="{{ category.category_id }}"
                                    >{{ month_data.amount_month|format_rub }} ₽
                          
                                        <div class="dop_info_bonus">
                                            <div class="">{{ month_data.summ_bonus|format_rub }} ₽</div>
                                            {% if category.name  != "квартальная премия всего" %}
                                            <div class="
                                            {% if month_data.persent_bonus > 100 %}
                                                persent_bonus_red
                                            {% endif %}
                                                ">| {{ month_data.persent_bonus }} %</div>
                                            {% endif %}
                                        </div>


                                    </div>
                                    
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% for key, employee_data in arr_salary_employees.items %}
                {% with data_salary=employee_data.data_salary %}
                    <div class=" background-salary-employee">
                        {% for salary_block in employee_data.data_salary %}
                     
                        <!-- ШАпка с фамилией и тоталами по месяцам -->
                            {% if salary_block.name == "Итого" %}
                                <section class="oper_account ">
                                    <div class="">
                                        <div class="oper-account-grid">
                                            <div class="oper-account-row oper-account-total">
                                                <div class="oper-account-cell oper-account-num"></div>
                                                <div class="oper-account-cell outside_name_title">
                                                    {{ employee_data.employee_name }}
                                                    <div class="shrink-item-vert shrink-item-vert-im"
                                                         data-attr-shrink-vert='salary_{{ employee_data.employee_id }}'
                                                         data-attr-shrink-name-vert='salary_{{ employee_data.employee_id }}'>
                                                        <svg width="16"
                                                             height="16"
                                                             viewBox="0 0 16 16"
                                                             fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <rect x="16.0002" y="16" width="16" height="16" rx="8" transform="rotate(-180 16.0002 16)" fill="black" />
                                                            <rect x="13.0002" y="9" width="10" height="2" transform="rotate(-180 13.0002 9)" fill="white" />
                                                            <path d="M7.00024 3L7.00024 5.5L4.50024 8L7.00024 10.5V13L2.00024 8L7.00024 3Z" fill="white" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                {% for month, month_data  in salary_block.total.items %}
                                                    <div class="d-flex">
                                                        <div class="oper-account-cell oper-account-month">{{ month }} {{ year_now }}</div>
                                                        <div class="oper-account-cell oper-account-month">{{ month_data.amount_month|format_rub }} ₽</div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% endif %}
                            <!-- ООО -->
                            {% if salary_block.name == "ООО" %}
                                <section class="oper_account background-salary-employee salary_{{ employee_data.employee_id }}" "data-attr-shrink-item-vert="salary_{{ employee_data.employee_name }}"
                                    >
                                    {% for category in salary_block.category %}
                                        <div class="">
                                            <div class="oper-account-grid">
                                                <div class="oper-account-row">
                                                    <div class="oper-account-cell oper-account-num">{{ forloop.counter|stringformat:"02d" }}.</div>
                                                    <div class="oper-account-cell outside_name_title">{{ category.name }}</div>
                                                    {% for month, month_data  in category.total.items %}
                                                        {% if  month_data.is_make_operations %}
                                                            <div class="salary_employee_item_wrapper  nalog_item_wrapper oper-account-cell oper-account-value ">
                                                                <div class=" {% if month_data.type_operations == "percent" %} inp_operation_percent {% else %} inp_operation {% endif %} inp_operation_bank salary_employee_item_sum_nalog salary_employee_item_sums salary-category-month-row salary-employee-smal-row salary-employee_additional_{{ employee.employee }}_"
                                                                     data-id-people="{{ employee_data.employee_id }}"
                                                                     {% comment %}
                                                                     data-sub-categ-id="{{ category.id_groupe }}"
                                                                     data-sub-categ-name="employee"
                                                                     {% endcomment %}
                                                                     data-bank-in="1"
                                                                     data-bank-out="{{ month_data.bank_out }}"
                                                                     data-between-id="{{ month_data.between_id }}"
                                                                     tupe-operations="{{ month_data.type_operations }}"
                                                                     data-sub-categ-name="{{ category.category_id }}"
                                                                     data-sub-categ-id="{{ month_data.id_groupe }}"
                                                                     data-operation-data-month="{{ month_data.date_start|date:'m' }}"
                                                                     data-operation-data-year="{{ month_data.date_start|date:'Y' }}"
                                                                     data-operation-old-id="{{ month_data.operation_id|default:'0' }}"
                                                                     data-prev-month="{{ month_data.expected|format_rub }}"
                                                                     data-operation-data-start-all_2="{{ month_data.date_start|date:'Y-m-d' }}">
                                                                    <!-- операция с процентами-->
                                                                    {% if month_data.percent %}
                                                                        {% if month_data.percent > 0 %}
                                                                            <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                            <input type="text"
                                                                                   class="salary_employee_item_sums_inp"
                                                                                   value="{{ month_data.percent|format_rub }}">
                                                                        {% else %}
                                                                            <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                            <input type="text"
                                                                                   class="salary_employee_item_sums_inp"
                                                                                   value="{{ month_data.expected|format_rub }}">
                                                                        {% endif %}
                                                                        <!-- операция с суммами-->
                                                                    {% else %}
                                                                        {% if month_data.amount_month > 0 %}
                                                                            <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                            <input type="text"
                                                                                   class="salary_employee_item_sums_inp"
                                                                                   value="{{ month_data.amount_month|format_rub }}">
                                                                        {% else %}
                                                                            <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                            <input type="text"
                                                                                   class="salary_employee_item_sums_inp"
                                                                                   value="{{ month_data.expected|format_rub }}">
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                                <div class="btn_add_operation_bank btn_add_operation_salary btn_add_operation_nalog ">ОК</div>
                                                            </div>
                                                        {% else %}
                                                            <div class="oper-account-cell oper-account-value"
                                                                 data-month-number="{{ month_data.month_number }}">
                                                                <div class="invoice_month_item_text">
                                                                    {% if month_data.amount_month > 0 %}
                                                                        <p>{{ month_data.amount_month|format_rub }} ₽</p>
                                                                    {% else %}
                                                                        <p>{{ month_data.amount_month|format_rub }} ₽</p>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!-- Общий итог -->
                                    <div class="">
                                        <div class="oper-account-grid">
                                            <div class="oper-account-row oper-account-total">
                                                <div class="oper-account-cell oper-account-num"></div>
                                                <div class="oper-account-cell outside_name_title">{{ salary_block.total_category.name }}</div>
                                                {% for month, month_data in salary_block.total_category.total.items %}
                                                    <div class="oper-account-cell oper-account-value"
                                                         data-month-number="{{ month_data.month_number }}">
                                                        <b>{{ month_data.amount_month|format_rub }} ₽</b>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% endif %}
                            <!-- Нал -->
                            {% if salary_block.name == "$" %}
                                <section class="oper_account background-salary-employee salary_{{ employee_data.employee_id }}"
                                         data-attr-shrink-item-vert="salary_{{ employee_data.employee_id }}">
                                    {% for category in salary_block.category %}
                                        <div class="">
                                            <div class="oper-account-grid">
                                                <div class="oper-account-row">
                                                    <div class="oper-account-cell oper-account-num">{{ forloop.counter|stringformat:"02d" }}.</div>
                                                    <div class="oper-account-cell outside_name_title">{{ category.name }}</div>
                                                    {% for month, month_data  in category.total.items %}
                                                        {% if  month_data.is_make_operations %}
                                                            <div class="salary_employee_item_wrapper  nalog_item_wrapper oper-account-cell oper-account-value ">
                                                                <div class=" {% if month_data.type_operations == "percent" %} inp_operation_percent {% else %} inp_operation {% endif %} inp_operation_bank salary_employee_item_sum_nalog salary_employee_item_sums salary-category-month-row salary-employee-smal-row salary-employee_additional_{{ employee.employee }}_"
                                                                     data-id-people="{{ employee_data.employee_id }}"
                                                                     {% comment %}
                                                                     data-sub-categ-id="{{ category.id_groupe }}"
                                                                     data-sub-categ-name="employee"
                                                                     {% endcomment %}
                                                                     data-bank-in="3"
                                                                     data-bank-out="{{ month_data.bank_out }}"
                                                                     data-between-id="{{ month_data.between_id }}"
                                                                     tupe-operations="{{ month_data.type_operations }}"
                                                                     data-sub-categ-name="{{ category.category_id }}"
                                                                     data-sub-categ-id="{{ month_data.id_groupe }}"
                                                                     data-operation-data-month="{{ month_data.date_start|date:'m' }}"
                                                                     data-operation-data-year="{{ month_data.date_start|date:'Y' }}"
                                                                     data-operation-old-id="{{ month_data.operation_id|default:'0' }}"
                                                                     data-prev-month="{{ month_data.expected|format_rub }}"
                                                                     data-operation-data-start-all_2="{{ month_data.date_start|date:'Y-m-d' }}">
                                                                    <!-- операция с процентами-->
                                                                    {% if month_data.percent %}
                                                                        {% if month_data.percent > 0 %}
                                                                            <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                            <input type="text"
                                                                                   class="salary_employee_item_sums_inp"
                                                                                   value="{{ month_data.percent|format_rub }}">
                                                                        {% else %}
                                                                            <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                            <input type="text"
                                                                                   class="salary_employee_item_sums_inp"
                                                                                   value="{{ month_data.expected|format_rub }}">
                                                                        {% endif %}
                                                                        <!-- операция с суммами-->
                                                                    {% else %}
                                                                        {% if month_data.amount_month > 0 %}
                                                                            <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                            <input type="text"
                                                                                   class="salary_employee_item_sums_inp"
                                                                                   value="{{ month_data.amount_month|format_rub }}">
                                                                        {% else %}
                                                                            <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                            <input type="text"
                                                                                   class="salary_employee_item_sums_inp"
                                                                                   value="{{ month_data.expected|format_rub }}">
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                                <div class="btn_add_operation_bank btn_add_operation_salary btn_add_operation_nalog ">ОК</div>
                                                            </div>
                                                        {% else %}
                                                            <div class="oper-account-cell oper-account-value"
                                                                 data-month-number="{{ month_data.month_number }}">
                                                                <div class="invoice_month_item_text">
                                                                    {% if month_data.amount_month > 0 %}
                                                                        <p>{{ month_data.amount_month|format_rub }} ₽</p>
                                                                    {% else %}
                                                                        <p>{{ month_data.amount_month|format_rub }} ₽</p>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!-- Общий итог -->
                                    <div class="">
                                        <div class="oper-account-grid">
                                            <div class="oper-account-row oper-account-total">
                                                <div class="oper-account-cell oper-account-num"></div>
                                                <div class="oper-account-cell outside_name_title">{{ salary_block.total_category.name }}</div>
                                                {% for month, month_data in salary_block.total_category.total.items %}
                                                    <div class="oper-account-cell oper-account-value"
                                                         data-month-number="{{ month_data.month_number }}">
                                                        <b>{{ month_data.amount_month|format_rub }} ₽</b>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% endif %}
                            <!-- Бонус -->
                            {% if salary_block.name == "Премии" %}
                                <section class="oper_account background-salary-employee salary_{{ employee_data.employee_id }}"
                                         data-attr-shrink-item-vert="salary_{{ employee_data.employee_id }}">
                                    {% for category in salary_block.category %}
                                        <div class="">
                                           
                                            <div class="oper-account-grid">
                                                <div class="oper-account-row">
                                                    <div class="oper-account-cell oper-account-num">{{ forloop.counter|stringformat:"02d" }}.</div>
                                                    <div class="oper-account-cell outside_name_title">{{ category.name }}</div>
              
                                                    {% for month, month_data  in category.total.items %}

                                                        {% if  month_data.is_make_operations %}
                                                            <div class="salary_employee_item_wrapper  nal_item_wrapper oper-account-cell oper-account-value oper-account-cell-2">
                                                                {% if month_data.percent %}
                                                                    <input data-summ="{{ month_data.amount_month|format_rub }}"
                                                                        data-id-people="{{ employee_data.employee_id }}"
                                                                        data-sub-categ-name="{{ category.category_id }}"
                                                                        class='checkbox-persent'
                                                                        type="checkbox"
                                                                        value="1"
                                                                        {% if month_data.chek %}checked{% endif %}
                                                                        data-between-id="{{ month_data.between_id }}"
                                                                        data-bank-in="{{ month_data.bank_in }}"
                                                                        data-bank-out="{{ month_data.bank_out }}"
                                                                        data-operation-data-month="{{ month_data.date_start|date:'m' }}"
                                                                        data-operation-data-year="{{ month_data.date_start|date:'Y' }}"
                                                                        data-operation-old-id="{{ month_data.operation_id }}"
                                                                        data-operation-data-start-all_2="{{ month_data.date_start|date:'Y-m-d' }}">
                                                                {% endif %}
                                                                <div class=" {% if month_data.type_operations == "percent" %} inp_operation_percent {% else %} inp_operation {% endif %} inp_operation_bank salary_employee_item_sum_nalog salary_employee_item_sums salary-category-month-row salary-employee-smal-row salary-employee_additional_{{ employee.employee }}_"
                                                                    data-id-people="{{ employee_data.employee_id }}"
                                                                    data-bank-in="{{ month_data.bank_in }}"
                                                                    data-bank-out="{{ month_data.bank_out }}"
                                                                    data-between-id="{{ month_data.between_id }}"
                                                                    tupe-operations="{{ month_data.type_operations }}"
                                                                    {% if month_data.type_operations == "percent" %}
                                                                        data-sub-categ-name="employee"
                                                                    {% else %}
                                                                        data-sub-categ-name="{{ category.category_id }}"
                                                                    {% endif %}
                                                                    data-sub-categ-id="{{ month_data.id_groupe }}"
                                                                    data-operation-data-month="{{ month_data.date_start|date:'m' }}"
                                                                    data-operation-data-year="{{ month_data.date_start|date:'Y' }}"
                                                                    {% if month_data.type_operations == "percent" %}
                                                                        data-operation-old-id="{{ month_data.operation_percent_id|default:'0' }}"
                                                                    {% else %}
                                                                        data-operation-old-id="{{ month_data.operation_id|default:'0' }}"
                                                                    {% endif %}
                                                                    data-prev-month="{{ month_data.expected|format_rub }}"
                                                                    data-operation-data-start-all_2="{{ month_data.date_start|date:'Y-m-d' }}"
                                                                    
                                                                    
                                                                    >
                                                                    <!-- операция с процентами-->
                                                                    {% if month_data.percent %}
                                                                        {% if month_data.percent > 0 %}
                                                                            <!-- Если фикс суммы был   -->
                                                                            {% if month_data.chek %}
                                                                                <p class="salary_employee_item_sums_text">{{ month_data.amount_month_chek|format_rub }} ₽</p>
                                                                            {% else %}
                                                                                <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                                <input type="text"
                                                                                    class="salary_employee_item_sums_inp"
                                                                                    value="{{ month_data.percent|format_rub }}">
                                                                            {% endif %}
                                                                        {% else %}
                                                                            <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                            <input type="text"
                                                                                class="salary_employee_item_sums_inp"
                                                                                value="{{ month_data.expected|format_rub }}">
                                                                        {% endif %}
                                                                        <!-- операция с суммами-->
                                                                    {% else %}
                                                                        {% if month_data.amount_month > 0 %}
                                                                            <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                            <input type="text"
                                                                                class="salary_employee_item_sums_inp"
                                                                                value="{{ month_data.amount_month|format_rub }}">
                                                                        {% else %}
                                                                            <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                            <input type="text"
                                                                                class="salary_employee_item_sums_inp"
                                                                                value="{{ month_data.expected|format_rub }}">
                                                                        {% endif %}
                                                                    {% endif %}
                                                                </div>
                                                                <div class="btn_add_operation_bank btn_add_operation_salary btn_add_operation_nalog ">ОК</div>
                                                            </div>
                                                        {% else %}
                                                            <div class="oper-account-cell oper-account-value"
                                                                data-month-number="{{ month_data.month_number }}">
                                                                <div class="invoice_month_item_text">
                                                                    {% if month_data.amount_month > 0 %}
                                                                        <p>{{ month_data.amount_month|format_rub }} ₽</p>
                                                                    {% else %}
                                                                        <p>{{ month_data.amount_month|format_rub }} ₽</p>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %} 
                                    <!-- Общий итог -->
                                    <div class="">
                                        <div class="oper-account-grid">
                                            <div class="oper-account-row oper-account-total">
                                                <div class="oper-account-cell oper-account-num"></div>
                                                <div class="oper-account-cell outside_name_title">{{ salary_block.total_category.name }}</div>
                                                {% for month, month_data in salary_block.total_category.total.items %}
                                                    <div class="oper-account-cell oper-account-value"
                                                         data-month-number="{{ month_data.month_number }}">
                                                        <b>{{ month_data.amount_month|format_rub }} ₽</b>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            {% endif %}
                            <!-- долги -->
                            {% if salary_block.name == "Долги" %}
                                <section class="oper_account background-salary-employee salary_{{ employee_data.employee_id }}"
                                    <section class="oper_account background-salary-employee salary_{{ employee_data.employee_id }}"
                                             data-attr-shrink-item-vert="salary_{{ employee_data.employee_id }}">
                                        {% for category in salary_block.category %}
                                            <div class="">
                                                <div class="oper-account-grid">
                                                    <div class="oper-account-row">
                                                        <div class="oper-account-cell oper-account-num">{{ forloop.counter|stringformat:"02d" }}.</div>
                                                        <div class="oper-account-cell outside_name_title">{{ category.name }}</div>
                                                        {% for month, month_data  in category.total.items %}
                                                            {% if  month_data.is_make_operations %}
                                                            
                                                                <div class="salary_employee_item_wrapper  nalog_item_wrapper oper-account-cell oper-account-value ">
                                                                    <div class=" {% if month_data.type_operations == "percent" %} inp_operation_percent {% else %} inp_operation {% endif %} inp_operation_bank salary_employee_item_sum_nalog salary_employee_item_sums salary-category-month-row salary-employee-smal-row salary-employee_additional_{{ employee.employee }}_"
                                                                         data-id-people="{{ employee_data.employee_id }}"
                                                                         data-bank-in="4"
                                                                         data-bank-out="{{ month_data.bank_out }}"
                                                                         data-between-id="{{ month_data.between_id }}"
                                                                         tupe-operations="{{ month_data.type_operations }}"
                                                                         data-sub-categ-name="{{ category.category_id }}"
                                                                         data-sub-categ-id="{{ month_data.id_groupe }}"
                                                                         data-operation-data-month="{{ month_data.date_start|date:'m' }}"
                                                                         data-operation-data-year="{{ month_data.date_start|date:'Y' }}"
                                                                         data-operation-old-id="{{ month_data.operation_id|default:'0' }}"
                                                                         data-prev-month="{{ month_data.expected|format_rub }}"
                                                                         data-operation-data-start-all_2="{{ month_data.date_start|date:'Y-m-d' }}">
                                                                        <!-- операция с процентами-->
                                                                        {% if month_data.percent %}
                                                                            {% if month_data.percent > 0 %}
                                                                                <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                                <input type="text"
                                                                                       class="salary_employee_item_sums_inp"
                                                                                       value="{{ month_data.percent|format_rub }}">
                                                                            {% else %}
                                                                                <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                                <input type="text"
                                                                                       class="salary_employee_item_sums_inp"
                                                                                       value="{{ month_data.expected|format_rub }}">
                                                                            {% endif %}
                                                                            <!-- операция с суммами-->
                                                                        {% else %}
                                                                            {% if month_data.amount_month > 0 %}
                                                                                <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                                <input type="text"
                                                                                       class="salary_employee_item_sums_inp"
                                                                                       value="{{ month_data.amount_month|format_rub }}">
                                                                            {% else %}
                                                                                <p class="salary_employee_item_sums_text">{{ month_data.amount_month|format_rub }} ₽</p>
                                                                                <input type="text" class="salary_employee_item_sums_inp" value="">
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="btn_add_operation_bank btn_add_operation_salary btn_add_operation_nalog ">ОК</div>
                                                                </div>
                                                            {% else %}
                                                                <div class="oper-account-cell oper-account-value"
                                                                     data-month-number="{{ month_data.month_number }}">
                                                                    <div class="invoice_month_item_text">
                                                                        111
                                                                        {% if month_data.amount_month > 0 %}
                                                                            <p>{{ month_data.amount_month|format_rub }} ₽</p>
                                                                        {% else %}
                                                                            <p>{{ month_data.amount_month|format_rub }} ₽</p>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!-- Общий итог -->
                                        <div class="">
                                            <div class="oper-account-grid">
                                                <div class="oper-account-row oper-account-total">
                                                    <div class="oper-account-cell oper-account-num"></div>
                                                    <div class="oper-account-cell outside_name_title">{{ salary_block.total_category.name }}</div>
                                                    {% for month, month_data in salary_block.total_category.total.items %}
                                                        <div class="oper-account-cell oper-account-value"
                                                             data-month-number="{{ month_data.month_number }}">
                                                            <b>{{ month_data.amount_month|format_rub }} ₽</b>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endwith %}
                {% endfor %}
                <!--итого за год-->
                <div class=" background-salary-total">
                    <div class="">
                        <div class="oper-account-grid">
                            <div class="oper-account-row oper-account-total">
                                <div class="oper-account-cell oper-account-num"></div>
                                <div class="oper-account-cell outside_name_title">ИТОГО</div>
                                {% for month  in months_current_year %}
                                    <div class="oper-account-cell oper-account-month">{{ month }} {{ year_now }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% for category in arr_total_salary.category %}
                        <div class="">
                            <div class="oper-account-grid">
                                <div class="oper-account-row">
                                    <div class="oper-account-cell oper-account-num">{{ forloop.counter|stringformat:"02d" }}.</div>
                                    <div class="oper-account-cell outside_name_title">{{ category.name }}</div>
                                    {% for month, month_data  in category.total.items %}
                                        <div class="oper-account-cell oper-account-month">{{ month_data.amount_month|format_rub }} ₽</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!--старые года -->
            <div class="section_oper_wr outside_wr section_oper_wr_old"></div>
        </div>
    {% endblock content %}
