{% extends "core/base.html" %}
{% block content %}
<input type="hidden" id="page_name" value="{{ title }}" />
{% include "bank/inside/includes/header_inside.html" %}
{% include "bank/inside/includes/modal/modal_add_category_office.html" %}
{% include "bank/inside/includes/modal/modal_add_operation_oper_account.html" %}
<section class="oper_account">

{% for category in operations %}
    <div class="category-block">
        {% comment %} <div class="category-title">{{ category.category_name }}</div> {% endcomment %}
        <div class="oper-account-grid">
            <!-- Заголовки -->
            <div class="oper-account-row oper-account-header">
                <div class="oper-account-cell oper-account-num"></div>
                {{category}}
                <div class="oper-account-cell oper-account-service">{{ category.category_name }}
                    <button class="btn_add_category_oper_account"
                        data-name="modal-add_category_oper_account"
                        {% comment %} data-meta="oper_account" {% endcomment %}
                        data-meta="{{category.category_id}}"
                        data-sub-cat="{{ category.category_id}}"
                        data-cat="{{ category.category_name }}">+</button>
                                            
                </div>
                {% for month in months %}
                    <div class="oper-account-cell oper-account-month">{{ month }}</div>
                {% endfor %}
            </div>
            <!-- Услуги -->
            {% for account in category.accounts %}
                <div class="oper-account-row">
                    <div class="oper-account-cell oper-account-num">{{ forloop.counter|stringformat:"02d" }}.</div>
                    <div class="oper-account-cell oper-account-service">{{ account.name }}</div>
                    {% for month in account.months %}
                        <div class="oper-account-cell oper-account-value">
                            {% if month.total > 0 %}
                                {{ month.total }} ₽
                            {% else %}
                                0 ₽
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <!-- Итого -->
            <div class="oper-account-row oper-account-total">
                <div class="oper-account-cell oper-account-num"></div>
                <div class="oper-account-cell oper-account-service">Итого</div>
                {% for total in category.totals_by_month %}
                    <div class="oper-account-cell oper-account-value"><b>{{ total|floatformat:0 }} ₽</b></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}

</section>
{% endblock content %}