{% extends "core/base.html" %}
{% load static %}
{% load format_filters %}
{% block content %}
    <link rel="stylesheet"
          href="{% static 'bank/css/inside_one_oper_accaunt.css' %}">
    <input type="hidden" id="page_name" value="{{ title }}" />
    {% include "bank/inside/includes/header_inside.html" %}

    <div class="oper_account_sort_wrap">
        <h3>Сортировка</h3>
        <div class="oper_account_sort_bank" data-sort-operation="1">с ООО</div>
        <div class="oper_account_sort_bank" data-sort-operation="2">с ИП</div>
    </div>
    <div class="wrapper_nalog_all">
    <section class="section_oper_wr section_oper_wr_culumn nalog_wr">
        <section class="oper_account oper_account_nalog">
        {% for bank_type, bank_data in operations_by_category.items %}
            <section class="">
                {% if bank_type == "OOO" %}
                <div class="">
                    <div class="oper-account-grid">
                        <div class="oper-account-row oper-account-total">
                            <div class="oper-account-cell oper-account-num"></div>
                            <div class="oper-account-cell oper-account-service">OOO (без УСН)</div>
                            {% for month, total_data in bank_data.totals_month.items %}
                                <div class="oper-account-cell oper-account-value">
                                    <b>{{ month }} {{ year_now|cut:" "  }}</b>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                    {% for section_name, section_data in bank_data.sections.items %}
                        <div class="oper-account-grid">
                            <div class="oper-account-row oper-account-header">
                                <div class="oper-account-cell oper-account-num"></div>
                                <div class="oper-account-cell oper-account-service">
                                    <h3>{{ section_data.name }}</h3>
                                </div>
                                {% comment %} {% for month, total_data in section_data.totals_month.items %}
                                    <div class="oper-account-cell oper-account-month">{{ month }} {{ year_now|cut:" "  }}</div>
                                {% endfor %} {% endcomment %}
                            </div>
                        </div>
                        {% for category in section_data.category %}
                            <div class="category-block">
                                <div class="oper-account-grid">
                                    <div class="oper-account-row">
                                        <div class="oper-account-cell oper-account-num">{{ forloop.counter|stringformat:"02d" }}.</div>
                                        <div class="oper-account-cell oper-account-service">{{ category.cat_name }} ({{ category.full_year_total|format_rub }} ₽)</div>
                                        {% for month, month_data in category.months.items %}
                                            <div class="salary_employee_item_wrapper  nalog_item_wrapper oper-account-cell oper-account-value ">
                                                <div class=" inp_operation salary_employee_item_sum_nalog salary_employee_item_sums salary-category-month-row salary-employee-smal-row salary-employee_additional_{{ employee.employee }}_{{ year_data.year|cut:" " }}"
                                                     data-bank-in="{{ category.cat_bank_in }}"
                                                     data-sub-categ-name="{{ category.cat_id }}"
                                                     data-operation-data-month="{{ month_data.date_start|date:'m' }}"
                                                     data-operation-data-year="{{ month_data.date_start|date:'Y' }}"
                                                     data-operation-old-id="{{ month_data.operation_id|default:'0' }}"
                                                     data-prev-month="{{ month_data.expected|format_rub }}"
                                                     data-operation-data-start-all_2="{{ month_data.date_start|date:'Y-m-d' }}">
                                                    {% if month_data.total > 0 %}
                                                        <p class="salary_employee_item_sums_text">{{ month_data.total|format_rub }} ₽</p>
                                                        <input type="text"
                                                               class="salary_employee_item_sums_inp"
                                                               value="{{ month_data.total|format_rub }}">
                                                    {% else %}
                                                        <span class="salary_employee_item_sums_text oper-account-cell-zero">0 ₽</span>
                                                        <input type="text" class="salary_employee_item_sums_inp" value="{{ month_data.expected|format_rub }}">
                                                    {% endif %}
                                                </div>
                                                <div class="btn_add_operation_salary btn_add_operation_nalog ">ОК</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- Итого по секции -->
                        <div class="category-block">
                            <div class="oper-account-grid">
                                <div class="oper-account-row oper-account-total">
                                    <div class="oper-account-cell oper-account-num"></div>
                                    <div class="oper-account-cell oper-account-service">Итого {{ section_data.name }}</div>
                                    {% for month, total_data in section_data.totals_month.items %}
                                        <div class="oper-account-cell oper-account-value">
                                            <b>{{ total_data.total|format_rub }} ₽</b>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Общий итог по ООО -->
                    <div class="category-block">
                        <div class="oper-account-grid">
                            <div class="oper-account-row oper-account-total">
                                <div class="oper-account-cell oper-account-num"></div>
                                <div class="oper-account-cell oper-account-service">Итого {{ bank_data.name_full }}</div>
                                {% for month, total_data in bank_data.totals_month.items %}
                                    <div class="oper-account-cell oper-account-value">
                                        <b>{{ total_data.total|format_rub }} ₽</b>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% elif bank_type == "ИП" %}
                    <div class="oper-account-grid">
                        <div class="oper-account-row oper-account-header">
                            <div class="oper-account-cell oper-account-num"></div>
                            <div class="oper-account-cell oper-account-service">
                                <h3>{{ bank_data.name }}</h3>
                            </div>
                            {% for month, total_data in bank_data.totals_month.items %}
                                <div class="oper-account-cell oper-account-month">{{ month }} {{ year_now|cut:" "  }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% for category in bank_data.category %}
                        <div class="category-block">
                            <div class="oper-account-grid">
                                <div class="oper-account-row">
                                    <div class="oper-account-cell oper-account-num">{{ forloop.counter|stringformat:"02d" }}.</div>
                                    <div class="oper-account-cell oper-account-service">{{ category.cat_name }} ({{ category.full_year_total|format_rub }} ₽)</div>
                                    {% for month, month_data in category.months.items %}
                                        <div class="salary_employee_item_wrapper  nalog_item_wrapper oper-account-cell oper-account-value ">
                                            <div class=" inp_operation salary_employee_item_sum_nalog salary_employee_item_sums salary-category-month-row salary-employee-smal-row salary-employee_additional_{{ employee.employee }}_{{ year_data.year|cut:" " }}"
                                                 data-bank-in="{{ category.cat_bank_in }}"
                                                 data-sub-categ-name="{{ category.cat_id }}"
                                                 data-operation-data-month="{{ month_data.date_start|date:'m' }}"
                                                 data-operation-data-year="{{ month_data.date_start|date:'Y' }}"
                                                 data-operation-old-id="{{ month_data.operation_id|default:'0' }}"
                                                 data-prev-month="{{ month_data.expected|format_rub }}"
                                                 data-operation-data-start-all_2="{{ month_data.date_start|date:'Y-m-d' }}">
                                                {% if month_data.total > 0 %}
                                                    <p class="salary_employee_item_sums_text">{{ month_data.total|format_rub }} ₽</p>
                                                    <input type="text"
                                                           class="salary_employee_item_sums_inp"
                                                           value="{{ month_data.total|format_rub }}">
                                                {% else %}
                                                    <span class="salary_employee_item_sums_text oper-account-cell-zero">0 ₽</span>
                                                    <input type="text" class="salary_employee_item_sums_inp" value="{{ month_data.expected|format_rub }}">
                                                {% endif %}
                                            </div>
                                            <div class="btn_add_operation_salary btn_add_operation_nalog ">ОК</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Итого по ИП -->
                    <div class="category-block">
                        <div class="oper-account-grid">
                            <div class="oper-account-row oper-account-total">
                                <div class="oper-account-cell oper-account-num"></div>
                                <div class="oper-account-cell oper-account-service">Итого {{ bank_data.name_full }}</div>
                                {% for month, total_data in bank_data.totals_month.items %}
                                    <div class="oper-account-cell oper-account-value">
                                        <b>{{ total_data.total|format_rub }} ₽</b>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </section>
        {% endfor %}
        </section>
        <!-- Итого по всем -->
        <section class="oper_account">
            <div class="oper-account-grid">
                <div class="oper-account-row oper-account-total">
                    <div class="oper-account-cell oper-account-num"></div>
                    <div class="oper-account-cell oper-account-service">{{ operations_by_category.total_all.name }}</div>
                    {% for month, total_data in operations_by_category.total_all.totals_month.items %}
                        <div class="oper-account-cell oper-account-value">
                            <b>{{ total_data.total|format_rub }} ₽</b>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>
    <!-- Старые операции -->
    <section class="nalog_wr_old ">
        <!-- Сначала отображаем все данные по ООО -->
        <div class="nalog_wr_old_year_line">
        {% for year, year_data in operations_old_by_year.OOO.items %}
        <div class="nalog_wr_old_year">
            <div class="oper_account oper_account_nalog_old_year">
                <div class="">
                    <div class="oper-account-grid">
                        <div class="oper-account-row oper-account-total">
                            <div class="oper-account-cell oper-account-service oper-account-service-min-nalog">
                                <h3>{{ year_data.year|cut:" " }}</h3>
                                <div class="btn_month_invoce-shrink shrink-item"
                                     data-attr-shrink='nalog_additional_OOO_{{ year_data.year|cut:" " }}'
                                     data-attr-shrink-name='nalog_additional_OOO_{{ year_data.year|cut:" " }}'>
                                    <svg width="16"
                                         height="16"
                                         viewBox="0 0 16 16"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <rect x="16.0002" y="16" width="16" height="16" rx="8" transform="rotate(-180 16.0002 16)" fill="black" />
                                        <rect x="13.0002" y="9" width="10" height="2" transform="rotate(-180 13.0002 9)" fill="white" />
                                        <path d="M7.00024 3L7.00024 5.5L4.50024 8L7.00024 10.5V13L2.00024 8L7.00024 3Z" fill="white" />
                                    </svg>
                                </div>
                            </div>
                            {% for month, total_data in year_data.totals_month.items %}
                                <div class="oper-account-cell oper-account-value nalog_additional_OOO_{{ year_data.year|cut:" " }}"
                                     data-attr-shrink-item='nalog_additional_OOO_{{ year_data.year|cut:" " }}'>
                                    <b>{{ month }} </b>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% for section_name, section_data in year_data.sections.items %}
                    <div class="oper-account-grid">
                        <div class="oper-account-row oper-account-header">
                            <div class="oper-account-cell oper-account-service oper-account-service-min-nalog">
                                {% comment %} <h3>{{ section_data.name }}</h3> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    {% for category in section_data.category %}
                        <div class="category-block">
                            <div class="oper-account-grid">
                                <div class="oper-account-row">
                                    <div class="oper-account-cell oper-account-service oper-account-service-min-nalog font-bold">
                                        <span style="white-space: nowrap;">{{ category.full_year_total|format_rub }} ₽</span>
                                        <span style="opacity: 0;">{{ category.cat_name }}</span>
                                    </div>
                                    {% for month, month_data in category.months.items %}
                                        <div class="salary_employee_item_wrapper nalog_item_wrapper oper-account-cell oper-account-value nalog_additional_OOO_{{ year_data.year|cut:" " }}"
                                             data-attr-shrink-item='nalog_additional_OOO_{{ year_data.year|cut:" " }}'>
                                            <div class="inp_operation salary_employee_item_sum_nalog salary_employee_item_sums salary-category-month-row salary-employee-smal-row"
                                                 data-bank-in="{{ category.cat_bank_in }}"
                                                 data-sub-categ-name="{{ category.cat_id }}"
                                                 data-operation-data-month="{{ month_data.date_start|date:'m' }}"
                                                 data-operation-data-year="{{ month_data.date_start|date:'Y' }}"
                                                 data-operation-old-id="{{ month_data.operation_id|default:'0' }}"
                                                 data-operation-data-start-all_2="{{ month_data.date_start|date:'Y-m-d' }}">
                                                {% if month_data.total > 0 %}
                                                    <p class="salary_employee_item_sums_text">{{ month_data.total|format_rub }} ₽</p>
                                                    <input type="text" class="salary_employee_item_sums_inp" value="{{ month_data.total|format_rub }}">
                                                {% else %}
                                                    <span class="salary_employee_item_sums_text">0 ₽</span>
                                                    <input type="text" class="salary_employee_item_sums_inp" value="0">
                                                {% endif %}
                                            </div>
                                            <div class="btn_add_operation_salary btn_add_operation_nalog ">ОК</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Итого по секции -->
                    <div class="category-block">
                        <div class="oper-account-grid">
                            <div class="oper-account-row oper-account-total">
                                <div class="oper-account-cell oper-account-service oper-account-service-min-nalog">{{ section_data.full_year_total|format_rub }} ₽</div>
                                {% for month, total_data in section_data.totals_month.items %}
                                    <div class="oper-account-cell oper-account-value nalog_additional_OOO_{{ year_data.year|cut:" " }}"
                                         data-attr-shrink-item='nalog_additional_OOO_{{ year_data.year|cut:" " }}'>
                                        <b>{{ total_data.total|format_rub }} ₽</b>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Общий итог по ООО -->
                <div class="category-block">
                    <div class="oper-account-grid">
                        <div class="oper-account-row oper-account-total">
                            <div class="oper-account-cell oper-account-service oper-account-service-min-nalog">{{ year_data.full_year_total|format_rub }} ₽</div>
                            {% for month, total_data in year_data.totals_month.items %}
                                <div class="oper-account-cell oper-account-value nalog_additional_OOO_{{ year_data.year|cut:" " }}"
                                     data-attr-shrink-item='nalog_additional_OOO_{{ year_data.year|cut:" " }}'>
                                    <b>{{ total_data.total|format_rub }} ₽</b>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        <!-- Затем отображаем все данные по ИП -->
        <div class="nalog_wr_old_year_line">
        {% for year, year_data in operations_old_by_year.ИП.items %}
        <div class="nalog_wr_old_year">
            <div class="oper_account oper_account_nalog_old_year">
                <div class="oper-account-grid">
                    <div class="oper-account-row oper-account-header">
                        <div class="oper-account-cell oper-account-service oper-account-service-min-nalog">
                            <h3>{{ year_data.year|cut:" " }}</h3>
                            <div class="btn_month_invoce-shrink shrink-item"
                                     data-attr-shrink='nalog_additional_ИП_{{ year_data.year|cut:" " }}'
                                     data-attr-shrink-name='nalog_additional_ИП_{{ year_data.year|cut:" " }}'>
                                    <svg width="16"
                                         height="16"
                                         viewBox="0 0 16 16"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <rect x="16.0002" y="16" width="16" height="16" rx="8" transform="rotate(-180 16.0002 16)" fill="black" />
                                        <rect x="13.0002" y="9" width="10" height="2" transform="rotate(-180 13.0002 9)" fill="white" />
                                        <path d="M7.00024 3L7.00024 5.5L4.50024 8L7.00024 10.5V13L2.00024 8L7.00024 3Z" fill="white" />
                                    </svg>
                                </div>
                        </div>
                        {% for month, total_data in year_data.totals_month.items %}
                            <div class="oper-account-cell oper-account-month nalog_additional_ИП_{{ year_data.year|cut:" " }}"
                            data-attr-shrink-item='nalog_additional_ИП_{{ year_data.year|cut:" " }}'
                            >{{ month }} {{ year_data.year|cut:" " }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% for category in year_data.category %}
                    <div class="category-block">
                        <div class="oper-account-grid">
                            <div class="oper-account-row">
                                <div class="oper-account-cell oper-account-service oper-account-service-min-nalog">
                                    <span style="white-space: nowrap;">{{ category.full_year_total|format_rub }} ₽</span>
                                    <span style="opacity: 0;">{{ category.cat_name }}</span>
                                </div>
                                {% for month, month_data in category.months.items %}
                                    <div class="salary_employee_item_wrapper nalog_item_wrapper oper-account-cell oper-account-value nalog_additional_ИП_{{ year_data.year|cut:" " }}"
                                      data-attr-shrink-item='nalog_additional_ИП_{{ year_data.year|cut:" " }}'
                                    >
                                        <div class="inp_operation salary_employee_item_sum_nalog salary_employee_item_sums salary-category-month-row salary-employee-smal-row"
                                             data-bank-in="{{ category.cat_bank_in }}"
                                             data-sub-categ-name="{{ category.cat_id }}"
                                             data-operation-data-month="{{ month_data.date_start|date:'m' }}"
                                             data-operation-data-year="{{ month_data.date_start|date:'Y' }}"
                                             data-operation-old-id="{{ month_data.operation_id|default:'0' }}"
                                             data-operation-data-start-all_2="{{ month_data.date_start|date:'Y-m-d' }}">
                                            {% if month_data.total > 0 %}
                                                <p class="salary_employee_item_sums_text">{{ month_data.total|format_rub }} ₽</p>
                                                <input type="text" class="salary_employee_item_sums_inp" value="{{ month_data.total|format_rub }}">
                                            {% else %}
                                                <span class="salary_employee_item_sums_text">0 ₽</span>
                                                <input type="text" class="salary_employee_item_sums_inp" value="0">
                                            {% endif %}
                                        </div>
                                        <div class="btn_add_operation_salary btn_add_operation_nalog ">ОК</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- Итого по ИП -->
                <div class="category-block">
                    <div class="oper-account-grid">
                        <div class="oper-account-row oper-account-total">
                            <div class="oper-account-cell oper-account-service oper-account-service-min-nalog">{{ year_data.full_year_total|format_rub }} ₽</div>
                            {% for month, total_data in year_data.totals_month.items %}
                                <div class="oper-account-cell oper-account-value nalog_additional_ИП_{{ year_data.year|cut:" " }}"
                                data-attr-shrink-item='nalog_additional_ИП_{{ year_data.year|cut:" " }}'
                                >
                                    <b>{{ total_data.total|format_rub }} ₽</b>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </section>
    </div>
{% endblock %}
