.inp_operation_bank{
    width: 75%;
}
.btn_add_operation_bank{
    top: 0;
    height: 40px;
}
.shrink-item-vert-im svg {
    margin-left: 10px;
    margin-right: 10px;
    transform: rotate(90deg);
  }