html,
body {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7vw;
  /* font-size: 1.25rem; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* overflow-x: scroll; */
}

a {
  color: #000;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: #000;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button {
  cursor: pointer;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  backdrop-filter: blur(0.9375rem);
  background: #e0e0e033;
  z-index: 1001;
}

/* .preloader_transition{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  
  backdrop-filter: blur(15px);
  background: #e0e0e033;
  z-index: 1001;
  transition: 0.2s;
} */

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 4.375rem;
  height: 4.375rem;
  margin-top: -2.1875rem;
  margin-left: -2.1875rem;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader svg {}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  /* z-index: -1000; */
  display: none;
}

.df {
  display: flex;
}

.dn {
  opacity: 0;
}

.di {
  display: inline;
}

.df_col {
  display: flex;
  flex-direction: column;
}

.border {
  border: 1px solid #000;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header_nav {
  display: flex;
  gap: 4.375rem;
  margin-bottom: 1.875rem;
}

.header_nav-link {}

.menu-active {
  border-radius: 1.5625rem;
  border: 0.1875rem solid #000;
  padding: 0.5rem 1.125rem;
  margin-left: -1.125rem;
  margin-right: -1.125rem;
  margin-top: -0.5rem;
}

.menu-active_service {
  border: 0.1875rem solid #000;
  background: #000;
  color: #fff;
}

.menu_service {
  border-radius: 1.5625rem;
  border: 0.1875rem solid #000;
  padding: 0.5rem 1.125rem;
  margin-left: -1.125rem;
  margin-right: -1.125rem;
  margin-top: -0.5rem;
}

.submenu {
  display: flex;
  gap: 3rem;
}

.submenu-link {
  border-radius: 1.5625rem;
  border: 0.1875rem solid #000;
}

.submenu-active {
  color: #fff;

  background: #000;
}

.submenu-active a {
  color: #fff;
}

.tech_nav {}

.tech_nav-list {}

.tech_nav-link {}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;

  background-color: rgba(8, 6, 6, 0.5);
  /* 
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh; */
  /* overflow: hidden; */
  /* opacity: 1;*/
  z-index: 1000;
  transition: 0.3s;
}

.modal-active {
  display: block;
}

.modal-wrapper {
  position: absolute;
  border-radius: 1.25rem;
  left: 50%;
  top: 50%;
  display: block;

  background: #ddd;
  transform: translate(-50%, -50%);
  /* height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.modal-items {
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 1.5rem 1.5rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.modal-title {
  margin-bottom: 1.4375rem;
}

.modal_contract {
  display: flex;
}

.modal input {
  background-color: #f5f5f5;
  border-radius: 0.3125rem;
  border: none;

  font-weight: 400;
  /* color: #c8c8c8; */
  font-size: 1.25rem;
  padding: 0.625rem;
}

.modal input::placeholder {
  font-weight: 400;
  color: #c8c8c8;
  font-size: 1.25rem;
}

.modal select {
  background-color: #f5f5f5;
  border-radius: 0.3125rem;
  border: none;

  font-weight: 400;

  font-size: 1.25rem;
  padding: 0.625rem;
  width: 8.125rem;
}

.modal-select .empty {
  color: #c8c8c8;
}

.modal-select {
  color: black;
}

#choice option {
  color: black;
}

.empty {
  color: #c8c8c8;
}

input[type="date"] {
  width: 9.6875rem;
  /* color: #c8c8c8; */
}

.modal_close {
  font-size: 2.5rem;
  position: absolute;
  right: 0.25rem;
  top: -0.3125rem;
  transform: rotate(45deg);
  cursor: pointer;
}

/* 
input[type="date"]:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
} */

::-webkit-calendar-picker-indicator {}

.modal-items-wrap--610 {
  width: 38.125rem;
  /* transition: 0.6s; */
}

.modal-items-wrap {
  transition: 0.1s;
}

.modal-client_name {
  width: 21.375rem;
}

.input-130 {
  width: 8.125rem;
}

.input-200 {
  width: 12.5rem;
}

.modal_add_contract {
  display: flex;
  gap: 0.625rem;
  flex-wrap: nowrap;
  margin-bottom: 0.875rem;
  width: 100%;
  align-items: center;
}

.modal-manager_client {
  width: 18.4375rem !important;
  margin-left: 0.625rem;
}

.modal-boss_client {
  width: 12.6875rem !important;
}

.modal-client_top {
  display: flex;
  margin-bottom: 0.875rem;
}

.client_item {
  display: flex;
}

.table {
  display: flex;

  white-space: nowrap;
  /* overflow: hidden; */
}

.table h3 {
  width: 7.5rem;
}

.table p {
  width: 7.5rem;
}

.client_titles {
  display: flex;
}

.service_title {
  width: 7.5rem;
}

.button_black {
  border: none;
  border-radius: 0.3125rem;
  color: #fff;
  padding: 0.625rem 1.1875rem;
  background-color: #000;
  margin-top: 0.625rem;
  margin-left: 70%;
}

.button_black_individ {
  border: none;
  border-radius: 0.3125rem;
  color: #fff;
  padding: 0.625rem 1.1875rem;
  background-color: #000;
}

.button_black_client {
  border: none;
  border-radius: 0.3125rem;
  color: #fff;
  padding: 0.625rem 1.1875rem;
  background-color: #000;
  margin-left: 23%;
}

.button_black:disabled {
  background-color: #c9c9c9;
}

.client_client_meneger {
  display: flex;
  width: 25rem;
  align-items: center;
  position: relative;
  align-content: flex-start;
  align-items: flex-start;
}

.client_contract {
  display: flex;
}

.client_table {
  display: flex;
  align-items: flex-start;
  margin-top: 2.0625rem;
}

.client_client_meneger_client-name {
  width: 11.125rem;
  overflow: hidden;
  /* white-space: nowrap; */
  margin-right: 2.625rem;
}

.client_client_meneger_client-name_count {
  margin-right: 1.5rem;
}

.client_client_meneger_client-name_count-title {
  margin-right: 3rem;
}

.change_btn {
  cursor: pointer;
  position: absolute;
  left: -1.875rem;
  opacity: 0;
  transition: 0.2s;
}

.change_btn:hover {
  opacity: 1;
}

.client_client_meneger_manager {
  width: 10.625rem;
  overflow: hidden;
  margin-right: 2.625rem;
}

.client_contract_service {
  width: 5rem;
  margin-right: 4.5rem;
}

.client_contract_fx {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.client_contract_contract_name {
  width: 9.375rem;
  overflow: hidden;
  margin-right: 2.625rem;
  white-space: nowrap;
}

.client_contract_data {
  width: 11.125rem;
  overflow: hidden;
  margin-right: 2.625rem;
  white-space: nowrap;
}

.client_contract_sum {
  width: 9.375rem;
  /* overflow: hidden; */
  white-space: nowrap;
  margin-right: 2.625rem;
}

.modal-add-client {
  position: relative;
}

.client_contract_sum_ot {}

.clients {
  margin-top: 7.8125rem;
}

.clients_wrapper {
  width: fit-content;
  position: relative;
}

.clients_item_wrapp {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 3.5rem;
}

.bill-month {
  width: fit-content;
}

.bill-month_category-title {
  width: fit-content;
  display: flex;
  padding-top: 1.3125rem;
  align-items: flex-end;
  width: auto;
}

.bill-month_category-result {
  width: fit-content;
  display: flex;

  align-items: flex-end;
  width: auto;
}

.title-bill-120 {
  width: 7.5rem !important;
  margin-top: 1.3125rem;
  display: flex;
  align-items: center;

  margin-right: 1.25rem;
  padding-left: 1.25rem;
}

.bill_w-120 {
  width: 7.5rem !important;
  margin-top: 2.0625rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 1.25rem;
}

.bill_w-120-result {
  width: 7.5rem !important;
  margin-top: 0.4375rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 1.25rem;
}

.bill_w-120-result-upd {
  width: 8.75rem !important;
  margin-top: 0.4375rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 2.625rem;
  padding-left: 1.25rem;
}

.bill_w-80 {
  width: 6.25rem !important;
  margin-top: 2.0625rem;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 1.25rem;
}

.title-bill_w-80 {
  width: 6.25rem !important;
  margin-top: 1.625rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 1.25rem;
  padding-left: 1.25rem;
}

.title-bill_w-80-result {
  width: 6.25rem !important;
  margin-top: 0.4375rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: 1.25rem;
  padding-left: 1.25rem;
}

.elem16 {}

.bill-month_item-wrapper {
  display: flex;
  align-items: flex-end;

  white-space: nowrap;
}

.bill_month-title {
  margin-top: 4.125rem;
}

.bill-month_result_sum {
  display: flex;
}

.bill-month-client-counter {
  width: 3.125rem;
}

.bill-month-client-name {
  white-space: normal;
  height: 1.46875rem;
  display: flex;
  align-items: flex-start;
  overflow: visible !important;
}

.bill-month-client-contract {
  overflow: visible;
}

.bill-month-client-del {
  display: flex;
  margin-bottom: 0.3125rem;
  position: relative;
  left: -1.6875rem;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.2s;
}

.bill-month-del {
  width: 1.25rem;
}

.bill-month-client-del:hover {
  opacity: 1;
}

.suborder-bg {
  background-color: #f4f4f4;
  display: flex;
}

.entry-bg {
  background-color: #f3fcf2;
  display: flex;
}

.out-bg {
  background-color: #ffeded;
  display: flex;
}

.suborder_title-bg {
  background-color: #f4f4f4;
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
  display: flex;
  margin-left: -1.25rem;
  margin-right: 1.875rem;
}

.suborder_title-bg-result {
  display: flex;
  margin-left: -1.25rem;
  margin-right: 1.875rem;
}

.suborder_entry-bg {
  background-color: #f3fcf2;
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
  display: flex;
  margin-left: -1.25rem;
  margin-right: 1.875rem;
}

.suborder_entry-bg-result {
  display: flex;
  margin-left: -1.25rem;
  margin-right: 1.875rem;
  align-items: flex-end;
}

.suborder_out-bg {
  background-color: #ffeded;
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
  display: flex;
  margin-left: -1.25rem;
}

.suborder_subs-oper-bg {
  background-color: #f4f4f4;

  display: flex;
  margin-left: -1.25rem;
  margin-right: 1.875rem;
}

.entry_subs-oper-bg {
  background-color: #f3fcf2;

  display: flex;
  margin-left: -1.25rem;
  margin-right: 1.875rem;
}

.out_subs-oper-bg {
  background-color: #ffeded;

  display: flex;
  margin-left: -1.25rem;
}

.btn_month_bill {
  margin-left: 0.3125rem;
  width: 1rem;
  height: 1rem;
  background: #000000;
  border: none;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5625rem;
  font-weight: 500;
  cursor: pointer;
}

.btn_month_bill-del {
  background: #ff0404;
}

.bill_oretation-add_title {
  background-color: #f3fcf2;
}

.mr_p_oper {
  margin-right: 1.25rem;
  padding-left: 1.25rem;
}

.bill_oretation-exit_title {
  background-color: #ffeded;
}

.oretation-add-bg {
  margin-left: 1.25rem;
  background-color: #f3fcf2;
  display: flex;
}

.last-loop-bg {
  background-color: #f4f4f4;
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
  display: flex;
  position: relative;
  padding-bottom: 1.25rem;
}

.last-loop-bg-entry {
  background-color: #f3fcf2;
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
  display: flex;
  position: relative;
  padding-bottom: 1.25rem;
}

.last-loop-bg-out {
  background-color: #ffeded;
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
  display: flex;
  position: relative;
  padding-bottom: 1.25rem;
}

.last-loop-btn-del {
  margin-top: 2.0625rem;
}

.last-loop {
  align-items: flex-start;
}

.last-loop-btn {
  padding-top: 2.0625rem;
}

.no-validate {
  border: 1px solid red !important;
}

.add-operation-entry {
  cursor: pointer;
}

.add-operation-storage {
  cursor: pointer;
}

.bill-month-client-suborder_diff {
  cursor: pointer;
}

.suborder_out_operation {
  cursor: pointer;
}

.fsz15 {
  font-size: 0.9375rem;
  overflow: visible !important;
  position: relative;
}

.result_ok {
  color: green;
}

.result_not-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.result_not {}

.result_not_before {
  overflow: visible !important;
  white-space: nowrap;
}

.result_not_after {
  position: absolute;
  overflow: visible !important;
  color: red;
  top: 70%;
  z-index: 200;
  font-size: 0.9375rem;
  left: 0.625rem;
  white-space: nowrap;
}

.add-operation-out {
  width: 7.5rem;
  height: 100%;
  margin-top: 2.0625rem;
}

.oretation-out-bg {
  margin-left: 1.25rem;
  background-color: #ffeded;
  display: flex;
}

.margin_left {
  margin-left: 1.25rem;
}

.p_left {
  padding-left: 1.25rem;
}

.bill-month_result {
  width: fit-content;
  display: flex;

  width: auto;
}

.operation {
  display: flex;
  gap: 40px;
  margin: 28px 0;
}

.previous_operation_out,
.previous_operation {
  margin: 28px 0;
}

.modal_adv_buget {
  display: flex;
  gap: 10px;
  align-items: center;
}

.client_info_modal {
  display: flex;
  gap: 40px;
  margin-top: 28px;
  margin-bottom: 20px;
}

.bill-month_category-ended {
  /* height: 120px; */
}

.modal_adv_budget_all {
  font-weight: 700;
  font-size: 1.25rem;
}

.modal_adv_budget_not_use {
  font-weight: 700;
  font-size: 0.9375rem;
  color: #f00;
}

.modal_adv_budget_not_use_slash {
  font-weight: 700;
  font-size: 0.9375rem;
  color: #f00;
  display: none;
}

.not_check {
  position: relative;
  overflow: visible;
}

.red {
  color: red;
}

.previous_operation_item {
  display: flex;
  position: relative;
  gap: 0.625rem;
  margin-bottom: 0.625rem;
  align-items: center;
}

.wrapper_oper_out_other {
  display: none;
}

.mr40 {
  margin-right: 3.75rem;
}

.btn_month_bill-shrink {
  margin-left: 0.3125rem;

  background: #000;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5625rem;
  cursor: pointer;
  font-weight: 500;
}

[data-btn-deg-out="180"] {
  rotate: 180deg;
}

[data-btn-deg-out="0"] {
  rotate: 0deg;
}

[data-btn-deg-entry="180"] {
  rotate: 180deg;
}

[data-btn-deg-year="180"] {
  rotate: 180deg;
}

[data-btn-deg-year="0"] {
  rotate: 0deg;
}

[data-btn-deg-entry="0"] {
  rotate: 0deg;
}

[data-btn-deg-suborder="180"] {
  rotate: 180deg;
}

[data-btn-deg-suborder="0"] {
  rotate: 0deg;
}

.display-none-active,
.display-none-active-other,
.display-none-active-adv,
.display-none-active-title {
  display: flex;
}

[data-shrink="none"] {
  display: none !important;
  animation: fade-out 0.5s;
}

[data-shrink="block"] {
  display: block;
  display: flex;
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.shrink-active {
  display: none;
}

.subcontract_del,
.previous_operation_del {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5625rem;
  font-weight: 500;
  transform: rotate(45deg);
  cursor: pointer;
}

.previous_operation_del_oper {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5625rem;
  font-weight: 500;
  transform: rotate(45deg);
  cursor: pointer;
}

.modal_add_subcontract:disabled {
  width: 2.75rem;
  height: 2.75rem;
  background: #c9c9c9;
  border-radius: 0.3125rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  border: none;
}

.modal_add_subcontract {
  width: 2.75rem;
  height: 2.75rem;
  background: #169e00;
  border-radius: 0.3125rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  border: none;
}

.modal_add_contract_btn:disabled {
  width: 2.75rem;
  height: 2.75rem;
  background: #c9c9c9;
  border-radius: 0.3125rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  border: none;
}

.modal_add_contract_btn {
  width: 2.75rem;
  height: 2.75rem;
  background: #169e00;
  border-radius: 0.3125rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  border: none;
}

.operation_comment_oper_account {
  border-radius: 0.3125rem;
  width: 100%;
  height: 5.5625rem;
  background: #f5f5f5;
  border: none;
  margin-top: 0.8125rem;
}

#operation_comment_out {
  border-radius: 0.3125rem;
  width: 100%;
  height: 5.5625rem;
  background: #f5f5f5;
  border: none;
  margin-top: 0.8125rem;
}

#operation_comment {
  border-radius: 0.3125rem;
  width: 100%;
  height: 5.5625rem;
  background: #f5f5f5;
  border: none;
  margin-top: 0.8125rem;
}

#operation_comment_out_storage {
  border-radius: 0.3125rem;
  width: 100%;
  height: 5.5625rem;
  background: #f5f5f5;
  border: none;
  margin-top: 0.8125rem;
}

#operation_comment_out_other {
  border-radius: 0.3125rem;
  width: 100%;
  height: 5.5625rem;
  background: #f5f5f5;
  border: none;
  margin-top: 0.8125rem;
}

.bank_date_wrapper {
  display: flex;
  align-items: flex-end;
  gap: 0.9375rem;
}

#sum_cheked_out {
  margin-top: 2.0625rem;
  margin-bottom: 2.0625rem;
}

#sum_cheked_out_other {
  margin-top: 2.0625rem;
  margin-bottom: 2.0625rem;
}

#sum_cheked {
  margin-top: 2.0625rem;
  margin-bottom: 2.0625rem;
}

#date-operation_out {
  color: #000;
}

.num_budet::before {
  z-index: 2000;
  content: "!!!!!!!!!!!";
  color: #333;
  background-color: #fc0;
  font-size: 7.5rem;
  padding: 0.125rem;
  position: absolute !important;
  top: 50%;
  left: 50%;
  width: 12.5rem;
  height: 12.5rem;
}

.spn {}

.num_budet:active,
:hover,
:focus {}

input[type="radio"] {
  border: 0.125rem solid #c9c9c9;
  border-radius: 0.8125rem;
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* background-color only for content */
  background-clip: content-box;

  background-color: #fff;
  border-radius: 50%;
}

/* 
input[type="radio"]::-ms-check {
  background: #fff;
  border: 2px solid #c9c9c9;
  accent-color: #c9c9c9;
  color:#fff;
} */

input[type="radio"]:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.1875rem;
  /* background-color only for content */
  background-clip: content-box;
  border: 0.125rem solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

.input_bank_wrap_add {
  display: flex;
  align-items: flex-end;
  gap: 0;
  align-items: center;
  margin-top: 0.9375rem;
}

.input_bank_wrap {
  display: flex;
  align-items: flex-end;
  gap: 0;
  align-items: center;
  margin-top: 0.9375rem;
}

.input_bank_wrap_one_other {
  display: flex;
  align-items: flex-end;
  gap: 0;
  align-items: center;
  margin-top: 0.9375rem;
}

.input_bank_wrap_other {
  display: flex;
  align-items: flex-end;
  gap: 0;
  align-items: center;
  margin-top: 0.9375rem;
}

.input_bank_wrap label {
  margin-right: 1.875rem;
  margin-left: 0.625rem;
}

.input_bank_wrap_other label {
  margin-right: 1.875rem;
  margin-left: 0.625rem;
}

.input_bank_wrap_add label {
  margin-right: 1.875rem;
  margin-left: 0.625rem;
}

.input_bank_wrap_one_other label {
  margin-right: 1.875rem;
  margin-left: 0.625rem;
}

.input_bank_wrap_one_storage {
  display: flex;
  align-items: flex-end;
  gap: 0;
  align-items: center;
  margin-top: 0.9375rem;
}

.input_bank_wrap_storage {
  display: flex;
  align-items: flex-end;
  gap: 0;
  align-items: center;
  margin-top: 0.9375rem;
}

.input_bank_wrap_storage label {
  margin-right: 1.875rem;
  margin-left: 0.625rem;
}

.input_bank_wrap_one_storage label {
  margin-right: 1.875rem;
  margin-left: 0.625rem;
}

.input_bank_wrap_one {
  display: flex;
  align-items: flex-end;
  align-items: center;
  margin-top: 0.9375rem;
}

.input_bank_wrap_one label {
  margin-right: 1.875rem;
  margin-left: 0.625rem;
}

.input_bank_wrap_one_add {
  display: flex;
  align-items: flex-end;
  align-items: center;
  margin-top: 0.9375rem;
}

.input_bank_wrap_one_add label {
  margin-right: 1.875rem;
  margin-left: 0.625rem;
}

.date_operation input {
  color: #000;
}

#other_sum_out {
  margin-right: 0 !important;
  margin-right: -1.875rem;
}

#other_sum_namber {
  width: 11.25rem;
  height: 2.75rem;
  margin-left: 0.625rem;
}

#other_sum_namber_out {
  width: 11.25rem;
  height: 2.75rem;
  margin-left: 0.625rem;
}

#other_sum_namber_out_other {
  width: 11.25rem;
  height: 2.75rem;
  margin-left: 0.625rem;
}

.previous_operation_wrap {
  /* display: flex;
  align-items: center;
  gap: 10px; */
}

.previous_operation_title {
  font-weight: 700;
  font-size: 0.9375rem;
  max-width: 26.875rem;
}

.previous_operation_comment {
  font-style: italic;
  font-weight: 400;
  font-size: 0.9375rem;
  max-width: 26.875rem;
}

.previous_operation_del {
  /* position: absolute; */
}

.bill-sorting-date {
  display: flex;
  gap: 1.25rem;
  margin-top: 4.125rem;
}

.bill-sorting-operation,
.oper_account_sort_wrap {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.25rem;
  align-items: center;
}

.client_sorting {
  gap: 3.125rem;
}

.bill-sorting-date h3 {
  margin-right: 5.1875rem;
}

.btn_sorting_month {
  border-bottom: 1px solid transparent;
}

.btn_sorting_month:hover {
  border-color: #000;
  cursor: pointer;
}

.active_sorting {
  border-color: #000!important;
}

.bill-sorting-operation h3 {
  margin-right: 2.5rem;
}

.btn_sorting_operation {
  border-bottom: 1px solid transparent;
}

.btn_client_sort {
  opacity: 1;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.btn_client_sort:hover {
  border-color: #000;
  cursor: pointer;
}

.client_sorting h3 {
  opacity: 1;
}

.btn_sorting_operation:hover {
  border-color: #000;
  cursor: pointer;
}

.active_sorting_oper {
  border-color: #000;
}

.change_btn_bill {
  left: 0rem;
  opacity: 0;
  transition: 0.2s;
}

.change_btn_bill:hover {
  opacity: 1;
}

.btn_bill {
  /* display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  position: relative; */
}

.last-loop-modal-add-client {}

.month_bill {
  display: flex;
  gap: 0.625rem;
  align-items: flex-end;
}

.service_input_wrap h3 {
  margin-left: 0.625rem;
}

.client_additional-contract_add,
.client-contract_change {
  width: 2.75rem;
  height: 2.75rem;
  background: #169e00;
  border-radius: 0.3125rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  border: none;
}

.client_additional-contract_add:disabled,
.client-contract_change:disabled {
  background: #c9c9c9;
}

.suborder_out_operation_people {
  cursor: pointer;
}

.historySuborder_item {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  margin-bottom: 0.625rem;
}

.previous_operation_pay {
  border: none;
  border-radius: 0.3125rem;
  color: #fff;
  padding: 0.625rem 1.1875rem;
  background-color: #000000;
  cursor: pointer;
}

.comment_operation {
  font-weight: 700;
  font-size: 0.8125rem;
  color: #fff;
  border-radius: 0.5rem;
  width: 1rem;
  height: 1rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  left: 110%;
  top: -50%;
  /* transform: rotate(180deg); */
}

.comment_operation_hidden {
  margin-bottom: 0.625rem;
}

.comment_operation_hidden_wrap {
  background: #f1f1f1;
  border-radius: 1.5625rem;
  padding: 1.25rem 1.25rem 0.625rem 1.25rem;
  z-index: 1999;
  position: absolute;
  left: 110%;
  top: 100%;
  display: none;
  width: max-content;
  height: max-content;
}

.comment_operation:hover {
  background: #169e00;
}

.comment_operation:hover+.comment_operation_hidden_wrap {
  display: block;
}

.categore_operation {
  display: flex;
}

.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.allarm {
  font-weight: 700;
  font-size: 0.875rem;
  color: #000;
  border-radius: 0.5rem;
  padding: 1.25rem;
  background: #ffeded;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 0.3s;
}

.tech {
  margin-top: 3.75rem;
}

.tech_adv_category_item {
  display: flex;
  gap: 0.9375rem;
}

.tech_adv_category_wrap {
  display: flex;
  flex-direction: column;
  margin-top: 0.625rem;
  gap: 0.625rem;
}

.tech_adv_category_title {
  display: flex;
  align-items: center;
}

.btn_add_category_adv {
  margin-left: 0.3125rem;
  width: 1rem;
  height: 1rem;
  background: #000000;
  border: none;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5625rem;
  font-weight: 500;
}

.modal_title_category {
  display: flex;
  gap: 0.3125rem;
  margin-bottom: 1.25rem;
}

.add-category {
  margin-left: 0;
}

.oper_account_sort_wrap {
  margin-bottom: 5rem;
}

.oper_account {
  margin-top: 4.125rem;
}

.oper_account_sort_bank {
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

.oper_account_sort_bank:hover {
  border-color: transparent;
  cursor: pointer;
}

.btn_add_category_oper_account {
  margin-left: 0.3125rem;
  width: 1rem;
  height: 1rem;
  background: #000000;
  border: none;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5625rem;
  font-weight: 500;
}

.modal_add_category_item {
  display: flex;
  gap: 1.25rem;
}

.modal_add_category_input {
  width: 100%;
}

.oper_account_category_title {
  display: flex;
  align-items: flex-start;
  width: max-content;

  /* margin-bottom: 33px; */
}

.oper_account_category_item_categ {
  width: 18.3125rem;
  display: flex;
  margin-right: 4.375rem;
  align-items: center;
}

.oper_account_category_item_month {
  white-space: nowrap;
}

.oper_account_subcateg_count {
  margin-right: 1.5rem;
}

.oper_account_category_item_month+.oper_account_category_item_month {
  margin-left: 4.375rem;
}

.oper_account_items {
  display: flex;
  margin-bottom: 2.0625rem;
}

.oper_account_category_count {
  opacity: 0;
  padding-right: 1.5rem;
}

.oper_account_item_categ {
  display: flex;
  width: 18.3125rem;
  margin-right: 4.375rem;
  white-space: nowrap;
}

.oper_account_item_column {}

.oper_account_item_month {}

.oper_account_item_month h3 {
  opacity: 0;
  height: 0;
  z-index: -1000;
}

.oper_account_item_month h5 {
  opacity: 0;
  height: 0;
  z-index: -1000;
}

/* .oper_account_item_month +.oper_account_item_month{
  margin-left: 70px;
} */
.df_col+.df_col {
  margin-left: 4.375rem;
}

.oper_account_item {
  z-index: 3;
}

.oper_account_item_num {
  position: relative;
}

.oper_account_item_column_garay {
  color: #c9c9c9;
}

.oper_account_item_total {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.oper_account_total_actual_year {
  margin-bottom: 5rem;
}

.oper_account_item_num {
  cursor: pointer;
  width: fit-content;
  position: relative;
}

.comment_operation_oper {
  left: 100%;
}

.oper_account_items_wrap {
  display: flex;
  width: max-content;
}

.oper_account_items_old {
  display: flex;
}

.oper_account_items_year_total {
  width: 9.375rem;
}

.title_oper_acc_year {
  /* width: 9.375rem; */
  background-color: #f4f4f4;
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
  display: flex;
  padding-left: 1.375rem;
  padding-top: 0.625rem;
  display: flex;
  align-items: center;
  margin-left: 3.125rem !important;
  padding-bottom: 2.0625rem;
}

.title_oper_acc_year_no_bg {
  /* width: 9.375rem; */
  background-color: transparent;
}

.title_suborder_year {
  width: 9.375rem;
}

.title_oper_acc_year h3 {}

.title_oper_acc_year_srink {
  margin-left: 0.3125rem;
  background: #000;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5625rem;
  cursor: pointer;
  font-weight: 500;
}

.oper_account_items_year_total {
  width: 9.375rem;
  background-color: #f4f4f4;
  padding-left: 1.375rem;
}

.oper_account_items_old {
  /* padding-bottom: 20px;
  margin-bottom: 0;
  width: 150px;
  background-color: #f4f4f4; */
}

.oper_account_items_old_all_years {
  padding-bottom: 1.25rem;
  margin-bottom: 0;
  /* width: 9.375rem; */
  background-color: #f4f4f4;
  margin-left: 3.125rem;
}

.total_year_oper_first {
  /* padding-top: 20px; */
}

.oper_account_category_item_categ,
.oper_account_category_item_month {
  padding-top: 0.625rem;
}

.total_year_oper {
  padding-left: 1.375rem;
  width: 10.75rem;
}

.total_year_oper_last>.oper_account_items_old_all_years {
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
}

.total_year_oper_last {
  margin-bottom: 2.0625rem;
}

.title_suborder_year {
  display: flex;
  align-items: center;
}

.oper_account_items_old_fitst {
  display: flex;
}

.oper_account_items_old_fitst:first-child {
  display: none;
}

.title_suborder_year_months {
  display: flex;
  gap: 1.875rem;
  margin-right: 0.625rem;
}

.rere {
  display: none !important;
}

.oper_account_items_old_all_years {
  display: flex;
  white-space: nowrap;
}

.oper_account_items_year_month+.oper_account_items_year_month {
  margin-left: 1.9375rem;
}

.oper_account_items_old_all_years {
  /* margin-right: 30px; */
  /* padding-right: 5px; */
}

.oper_account_item_month_text {
  font-size: 0.9375rem;
  /* width: 0px; */
}

.oper_account_item_month_text p {
  font-size: 0.9375rem;
  /* width: 0px;  */
}

.oper_account_items_old_all_years-nobg {
  background-color: transparent;
  margin-top: 0.625rem;
}

.oper_account_items_wrap_last,
.oper_account_items_wrap_firstoper_account_items_wrap_last {
  margin-bottom: -1.875rem;
}

.modal_oper_account_title {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 2.0625rem;
}

.oper_account_period {
  display: flex;
  gap: 0.625rem;
  margin-bottom: 2.0625rem;
}

.date_operation-hidden {
  opacity: 0;
  height: 0;
}

#sum_cheked_out_oper_account {
  margin-bottom: 2.0625rem;
  margin-top: 2.0625rem;
}

.input_bank_wrap_operacc {
  margin-top: 0.9375rem;
  display: flex;
  align-items: center;
}

.input_bank_wrap_oper_account {
  margin-top: 0.9375rem;
  display: flex;
  align-items: center;
}

.input_bank_wrap_oper_account label {
  margin-right: 1.875rem;
  margin-left: 0.625rem;
}

.input_bank_wrap_operacc label {
  margin-right: 1.875rem;
  margin-left: 0.625rem;
}

#other_sum_namber_oper_account {
  width: 11.25rem;
  height: 2.75rem;
  margin-left: 0.625rem;
}

.previous_operation_oper_acc {
  margin: 1.75rem 0;
}

.modal_title_employee_text {
  margin-bottom: 1.875rem;
}

.salary {
  margin-top: 4.125rem;
}

.btn_add_employee {
  margin-left: 0.3125rem;
  width: 1rem;
  height: 1rem;
  background: #000000;
  border: none;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5625rem;
  font-weight: 500;
}

.salary_title {
  width: max-content;
  display: flex;
  margin-bottom: 2.0625rem;
  text-wrap: nowrap;
}

.salary_title_categ {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  width: 16.6875rem;
  margin-right: 5.5625rem;
}

.salary_title_months {
  display: flex;
  gap: 5.5625rem;
}

.salary_title_month {
  padding-top: 0.625rem;
}

.salary_employee_title {
  display: flex;
  margin-bottom: 2.0625rem;
  position: relative;
}

.salary_employee_name {
  width: 16.6875rem;
  margin-right: 5.5625rem;
  display: flex;
  gap: 0.3125rem;
  cursor: pointer;
}

.salary_employee {
  margin-bottom: 2.0625rem;
}

.salary_employee_categ_item_wrapper {
  display: flex;
  width: 16.6875rem;
  margin-right: 5.5625rem;
}

.salary_employee_categ_item_wrapper_total {
  display: flex;
  margin-bottom: 2.0625rem;
}

.salary_employee_item_wrapper {
  display: flex;
  gap: 5.5625rem;
  position: relative;
}

.salary_employee_wrap_alls {
  display: flex;
  width: max-content;
}

.salary_employee_wrap_alls {
  margin-bottom: 1.4375rem;
}

.salary_employee_item {
  position: relative;
}

.salary_employee_item_sum {
  cursor: pointer;
}

.salary_employee_item_sums_active {
  border-radius: 0.3125rem;
  background-color: #f5f5f5;
  color: black;
  
}

.salary_employee_item_sums {
  margin: -0.625rem;
  cursor: pointer;
  padding: 0.625rem;
  

}
.salary_employee_item_sums_inp{
  outline: none;
  border: none;
  cursor: pointer;
  display: none;
  background-color: #f5f5f5;
  width: 100%;

}

.btn_add_operation_salary {
  width: 2.9375rem;
  height: 2.75rem;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  color: #fff;
  background-color: #000;
  position: absolute;
  left: 100%;
  margin-left: -0.625rem;
  top: -0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;

  /* top: -50%; */
  /* top: -10px;
  left: 100%; */
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  border: 1px solid #000;
  border-radius: 0.3125rem;
  cursor: pointer;
  display: none; 
}

.btn_add_operation_salary_active {
   display: flex; 
}

.change_btn_employee {
  cursor: pointer;
  position: absolute;
  left: -1.25rem;
  opacity: 0;
  transition: 0.2s;
}

.change_btn_employee:hover {
  opacity: 1;
}

.input_box_start,
.input_box_stop {
  position: relative;
}

.input_box_start label,
.input_box_stop label {
  position: absolute;
  /* смещение относительно родительского элемента 10px вверх от верхнего края и   10px влево */
  top: -1.5625rem;

  background: #fff;
  padding: 0 0.3125rem;
  color: #c9c9c9;
  text-wrap: nowrap;
  font-size: 1rem;
}

.modal_add_employee_item {
  display: flex;
  gap: 0.625rem;
}

.input_box_stop {
  display: none;
}

.salary_employee_categ_total {
  display: flex;
}

.salary_employee_item_old_all_year {
  padding-bottom: 1.25rem;
  margin-bottom: 0;
  /* width: 150px; */
  background-color: #f4f4f4;
  margin-left: 3.125rem;
}

.salary_employee_item_old_all_year_first {
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
  padding-bottom: 2.0625rem;
  padding-top: 0.625rem;
  margin-top: -0.625rem;
}

.salary_employee_item_old_all_year_total_cat {
  padding-bottom: 2.0625rem;
  padding-top: 0.625rem;
  margin-top: -0.625rem;
}

.salary_employee_item_old_all_year_first_radius {
  border-radius: 1.5625rem;
}

.salary_employee_item_wrapper_old {
  gap: 0;
}

.year_old_categ_salary {
  padding-left: 1.375rem;
  width: 10.75rem;
}

.salary_employee_item_old_years {
  font-size: 0.9375rem;
}

.salary_employee_item_old_years+.salary_employee_item_old_years {}

.salary_employee_item_olds {
  padding-right: 1.875rem;
  background-color: #f4f4f4;
}

.btn_bill_wrp {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  gap: 0.4375rem;
}

.bill-month-client-del_invose {
  opacity: 0;
  transition: 0.2s;
}

.change_btn_invose {
  opacity: 0;
  transition: 0.2s;
}

.change_btn_invose:hover {
  opacity: 1;
}

.bill-month-client-del_invose:hover {
  opacity: 1;
}

.btn_bill {}

.btn_bill_wrp {
  display: flex;
  gap: 0.4375rem;
  padding: 1.25rem 0;
}

.inside_wr{
  display: flex;
  gap: 6.25rem;
}
.section_oper_wr_old{
  
  display: flex!important;
  flex-direction: row!important;
  gap: 6.25rem!important;
} 

